/* App.css */
.app {
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

body {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.filter {
  margin-bottom: 20px;
}

.movie-info {
  color: white;
} 

/* Add more styling based on your preferences */
